<!-- Link Stylesheet-->
<Link rel="stylesheet" href="~/StyleSheet.css" type="text/css" />


<h1>Time Magazine</h1>
<h3>Person of the Year</h3>


<form method="post">
    <label for="begYear">Year</label>
    <input max="4" name="begYear" />

    <label for="endYear">Year</label>
    <input max="4" name="endYear" />


    <button type="submit">Submit</button>
</form>
